<template>
  <div>
    <v-toolbar
      app
      extended extension-height="4"
      id="main-toolbar"
      scroll-off-screen
    >
      <v-toolbar-side-icon @click="showNav = !showNav">
      </v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase">
        <span>Koperasi</span>
        <span class="font-weight-light">--ADONIA</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn
          flat
          href="https://github.com/vuetifyjs/vuetify/releases/latest"
          target="_blank"
        >
          <span class="mr-2">About Me</span>
        </v-btn>
      </v-toolbar-items>
      <template v-slot:extension class="padding: 0;">
        <div class="pink accent-2" style="height: 2px; width: 100%;"></div>
      </template>
    </v-toolbar>

    <v-navigation-drawer app :value="showNav">
      <div>
        <v-card flat dark color="pink darken-2" transition="slide-x-transition">
          <v-card-text class="text-xs-center">
            <div class="title mb-2 mt-4">Koperasi Adonia</div>
            <font-awesome-icon class="white--text" size="4x" :icon="['fab', 'adn']"></font-awesome-icon>
          </v-card-text>
        </v-card>
      </div>
      <v-list :two-line="sideNavMini" class="pt-0">
        <v-divider></v-divider>
        <template v-for="nav in navItems">
          <v-list-tile :to="nav.path" :key="nav.path">
            <v-list-tile-action>
              <v-icon>{{nav.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-title>{{nav.title}}</v-list-tile-title>
          </v-list-tile>
          <!-- <v-divider :key="`divider-${nav-path}`"></v-divider> -->
        </template>
      </v-list>
    </v-navigation-drawer>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'MainApp',
  data () {
    return {
      sideNavMini: false,
      showNav: false,
      navItems: [
        {
          path: '/',
          icon: 'home',
          title: 'Home'
        },
        {
          path: '/app/data/list',
          icon: 'list',
          title: 'Data'
        },
        {
          path: '/app/data/import',
          icon: 'file_copy',
          title: 'Import'
        },
        {
          path: '/app/settings',
          icon: 'settings',
          title: 'Settings'
        },
        {
          path: '/app/data/summary-category',
          icon: 'bar_chart',
          title: 'Rangkuman'
        },
        {
          path: '/app/testing-single',
          icon: 'title',
          title: 'Pengujian'
        },
        {
          path: '/app/testing-kfold',
          icon: 'text_fields',
          title: 'Pengujian Dataset'
        },
        {
          path: '/logout',
          icon: 'power_settings_new',
          title: 'Logout'
        }
      ]
    }
  }
}
</script>

<style>

</style>
