<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>Pengaturan</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn @click="saveSettings" dark depressed color="cyan">Simpan</v-btn>
    </v-toolbar>
    <v-container fluid>
      <v-layout row>
        <v-flex md6>
          <v-card flat>
            <v-card-title>
              Umum
            </v-card-title>
            <v-card-text>
              <v-text-field v-model="data.mainName" label="Nama" />
              <v-text-field v-model="data.secondaryName" label="Nama Singkat" />
              <v-textarea
                label="Deskripsi Lengkap"
                v-model="data.title"
              ></v-textarea>
              <v-text-field v-model="data.subtitle" label="Deskripsi Singkat" />
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import settings from '@/service/settings'

export default {
  name: 'Settings',
  data () {
    return {
      data: {
        mainName: '',
        secondaryName: '',
        title: '',
        subtitle: ''
      }
    }
  },
  methods: {
    loadSettings () {
      let data = {
        mainName: settings.getMainName(),
        secondaryName: settings.getSecondaryName(),
        title: settings.getTitle(),
        subtitle: settings.getSubtitle()
      }
      this.data = data
    },
    saveSettings () {
      settings.setMainName(this.data.mainName)
      settings.setSecondaryName(this.data.secondaryName)
      settings.setTitle(this.data.title)
      settings.setSubtitle(this.data.subtitle)
      this.loadSettings()
    }
  },
  mounted () {
    this.loadSettings()
  }
}
</script>

<style>

</style>
