<template>
  <div>
    <v-parallax id="home-parallax" src="/bg2.jpg" dark height="600">
      <v-layout row justify-center align-center fill-height>
        <v-flex md10 class="text-md-center text-xs-center">
          <font-awesome-icon class="red--text" size="10x" :icon="['fab', 'adn']"></font-awesome-icon>
          <div class="display-2 white--text py-4 text-xs-center">
            Koperasi--Adonia
          </div>
        </v-flex>
      </v-layout>
    </v-parallax>
    <v-container fluid bg fill-height style="min-height: 80vh;">
      <v-layout row wrap align-center>
        <v-flex sm12 md12 class="text-xs-center">
          <div class="display-1 text-xs-center">
            Penerapan Data Mining Dengan Metode Naive Bayes Untuk Memprediksi Kelayakan Pengajuan Kredit
          </div>
          <div class="headline my-4 text-xs-center">
            Studi Koperasi Adonia
          </div>
          <v-btn @click="$router.push('/app/data/list')" dark color="blue" depressed large>Mulai</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import settings from '@/service/settings'

export default {
  name: 'HardHome',
  data () {
    return {
      mainName: '',
      secondaryName: '',
      title: '',
      subtitle: ''
    }
  },
  methods: {
    loadSettings () {
      const mainName = settings.getMainName()
      const secondaryName = settings.getSecondaryName()
      this.mainName = mainName
      this.secondaryName = secondaryName
      this.title = settings.getTitle()
      this.subtitle = settings.getSubtitle()
    }
  },
  mounted () {
    this.loadSettings()
  }
}
</script>

<style lang="scss">
  #foobar {
    min-height: 500px;
  }
  #home-parallax {
    .v-parallax__content {
      background: rgba(0, 0, 0, 0.7) !important;
    }
  }
</style>
