<template>
  <v-container fluid>
    <v-layout justify-center align-center style="padding: 140px;">
      <v-progress-circular width="16" size="120" indeterminate color="cyan"/>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Loader'
}
</script>

<style>

</style>
