<template>
  <div>
    <loader v-if="loading"></loader>
    <v-container v-if="!isResult && !loading" fluid>
      <v-layout row justify-center>
        <v-flex md4 class="text-sm-center">
          <div class="display-1 py-4">K-Fold Validation</div>
          <v-select :items="datasetOptions" v-model="dataset" label="Pilih Dataset" />
          <v-text-field label="K" v-model.number="k" type="number" min="2" max="10" />
          <v-btn @click="runKFold" dark large depressed color="cyan" class="my-4">Run!</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <div v-if="!loading && isResult" class="pa-0 ma-0">
      <v-toolbar flat>
        <v-toolbar-title>
          Hasil K-Fold Validation
        </v-toolbar-title>
        <v-spacer/>
        <v-toolbar-items>
          <v-btn small flat dark color="blue"
            @click="isResult = false"
          >
            Ulangi
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-layout row>
        <v-flex md12>
          <v-data-table :headers="testHeaders" :items="testResults" :total-items="testResults.length" hide-actions>
            <template v-slot:items="props">
              <tr>
                <td>{{ props.index + 1 }}</td>
                <td>{{ props.item.tp }}</td>
                <td>{{ props.item.tn }}</td>
                <td>{{ props.item.fp }}</td>
                <td>{{ props.item.fn }}</td>
                <td>{{ round(props.item.accuracy) }}</td>
                <td>{{ round(props.item.precision) }}</td>
                <td>{{ round(props.item.recall) }}</td>
                <td>{{ round(props.item.miscRate) }}</td>
              </tr>
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-layout row class="mt-4">
        <v-flex md6 offset-md3>
          <v-card flat class="headline text-md-center">
            <v-card-text>
              <div class="title text-md-center py-4">
                Rangkuman Pengujian
              </div>
              <div class="headline">
                Rata - Rata Akurasi: {{ testSummary.acc }}
              </div>
              <div class="headline">
                Rata - Rata Precision: {{ testSummary.prec }}
              </div>
              <div class="headline">
                Rata - Rata Recall: {{ testSummary.rec }}
              </div>
              <div class="headline">
                Rata - Rata Misclafication Rate: {{ testSummary.misc }}
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </div>
  </div>
</template>

<script>
import settings from '@/service/settings'
import Loader from '@/components/Loader.vue'
import testingAPI from '@/service/testingAPI'
import constants from '@/service/constants'
import { testing, accuracy, precision, recall, miscRate } from '@/service/testing'

function partition(data, k) {
  let parts = [...Array(k).keys()].map(i => {
    return []
  })
  data.forEach((x, idx) => {
    const partIdx = idx % k
    parts[partIdx].push(x)
  })
  return parts
}

export default {
  name: 'KFold',
  components: { Loader },
  data () {
    return {
      loading: false,
      isResult: false,
      datasetOptions: constants.optionsDataset,
      dataset: constants.defaultDataset,
      testingDataset: '',
      k: 3,
      testResults: [],
      testHeaders: [
        { text: 'Partisi', sortable: false },
        { text: 'TP', sortable: false },
        { text: 'TN', sortable: false },
        { text: 'FP', sortable: false },
        { text: 'FN', sortable: false },
        { text: 'Accuracy', sortable: false },
        { text: 'Precision', sortable: false },
        { text: 'Recall', sortable: false },
        { text: 'Misclafication Rate', sortable: false }
      ]
    }
  },
  computed: {
    testingDsetOptions () {
      return this.datasetOptions.filter(d => d !== this.trainingDataset)
    },
    testSummary () {
      let temp = {
        acc: 0,
        prec: 0,
        rec: 0,
        misc: 0
      }
      if (!this.isResult) {
        return temp
      }

      for (let part of this.testResults) {
        temp.acc += part.accuracy
        temp.prec += part.precision
        temp.rec += part.recall
        temp.misc += part.miscRate
      }
      const n = this.testResults.length * 1.0
      return {
        acc: this.round(temp.acc / n),
        prec: this.round(temp.prec / n),
        rec: this.round(temp.rec / n),
        misc: this.round(temp.misc / n)
      }
    }
  },
  methods: {
    async runKFold () {
      this.loading = true
      const resultsDerived = await testingAPI.kfold(this.dataset, this.k)
      this.testResults = resultsDerived
      this.loading = false
      this.isResult = true
    },
    round (x) {
      return x.toFixed(3)
    }
  },
  mounted () {
    this.datasetOptions = settings.getOptionsDataset()
    this.dataset = settings.getActiveDataset()
  }
}
</script>

<style>

</style>
