<template>
  <div>
    <loader v-if="loading"/>
    <v-container v-if="!loading && !isResult" fluid>
      <v-layout row justify-center>
        <v-flex md4 class="text-sm-center">
          <div class="display-1 py-4">Input Data Yang Akan Diuji</div>
          <v-select :items="datasetOptions" v-model="dataset" label="Pilih Dataset" />
          <v-text-field label="Nama" required v-model="item.nama"></v-text-field>
          <v-radio-group label="Sex" v-model="item.jk">
            <v-radio
              label="Laki - Laki"
              :value="1"
            />
            <v-radio
              label="Perempuan"
              :value="0"
            />
          </v-radio-group>
          <v-text-field
            type="number"
            :min="325000"
            :max="20000000"
            label="Besar Simpanan"
            v-model.number="item.BS"
            prefix="Rp, "
          />
          <v-text-field type="number" :min="1000000" :max="60000000" label="Besar Pinjaman" v-model.number="item.BP" prefix="Rp, " />
          <v-radio-group label="Jenis Bunga" v-model="item.JB">
            <v-radio
              label="1%"
              :value="1"
            />
            <v-radio
              label="3%"
              :value="3"
            />
          </v-radio-group>
          <v-text-field label="Jangka Waktu Pinjaman" type="number" v-model.number="item.JWP" :min="1" :max="64" />
          <v-btn large dark color="cyan" @click="classify">Klasifikasi</v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container v-if="isResult" fluid grid-list-md>
      <v-layout row>
        <v-flex m6>
          <div class="title">Hasil Klasifikasi</div>
          <div class="display-1">{{keteranganResult[0]}} -- <span class="font-weight-light">{{keteranganResult[1]}}</span></div>
        </v-flex>
        <v-flex md6 class="text-sm-right">
          <v-btn @click="refresh" large dark depressed color="cyan">Ulangi</v-btn>
        </v-flex>
      </v-layout>
      <v-divider class="py-2 my-4"/>
      <v-layout>
        <v-flex md4>
          <v-card>
            <v-toolbar flat dense>
              <v-toolbar-title>Input</v-toolbar-title>
            </v-toolbar>
            <v-data-table :headers="commonHeaders" :items="inputDetail" hide-actions :total-items="inputDetail.length" hide-headers>
              <template v-slot:items="props">
                <tr>
                  <td>{{props.item.field}}</td>
                  <td>{{props.item.v}}</td>
                </tr>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
        <v-flex md4>
          <v-card>
            <v-toolbar flat dense>
              <v-toolbar-title>Macet</v-toolbar-title>
            </v-toolbar>
            <v-data-table :headers="commonHeaders" :items="macetDetail" hide-actions :total-items="macetDetail.length" hide-headers>
              <template v-slot:items="props">
                <tr>
                  <td>{{props.item.field}}</td>
                  <td>{{props.item.v}}</td>
                </tr>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
        <v-flex md4>
          <v-card>
            <v-toolbar flat dense>
              <v-toolbar-title>Lancar</v-toolbar-title>
            </v-toolbar>
            <v-data-table :headers="commonHeaders" :items="lancarDetail" hide-actions :total-items="lancarDetail.length" hide-headers>
              <template v-slot:items="props">
                <tr>
                  <td>{{props.item.field}}</td>
                  <td>{{props.item.v}}</td>
                </tr>
              </template>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import settings from '@/service/settings'
import Loader from '@/components/Loader.vue'
import { nbSummary } from '@/service/nb'
import nbAPI from '@/service/nbAPI'
import constants from '@/service/constants'
import { format } from '@/model/drow'

export default {
  name: 'TestSingle',
  components: { Loader },
  data () {
    return {
      loading: false,
      isResult: false,
      item: {
        nama: '',
        jk: 1,
        BS: 325000,
        BP: 1000000,
        JB: 1,
        JWP: 1,
        LM: 1,
        keterangan: 1
      },
      datasetOptions: constants.optionsDataset,
      dataset: constants.defaultDataset,
      nbSumm: nbSummary(),
      commonHeaders: [
        { text: '', sortable: false },
        { text: '', sortable: false }
      ]
    }
  },
  computed: {
    formIsValid () {
      if (this.item === '') {
        return false
      }
      return true
    },
    keteranganResult () {
      const result = this.nbSumm.result
      if (this.nbSumm.result === 1) {
        return ['Lancar', this.nbSumm[result]['_prob']]
      } else {
        return ['Macet', this.nbSumm[result]['_prob']]
      }
    },
    inputDetail () {
      const xFormat = format(this.item)
      return [
        { field: 'Nama', v: this.item.nama },
        { field: 'JK', v: xFormat.jk },
        { field: 'BS', v: xFormat.BS },
        { field: 'BP', v: xFormat.BP },
        { field: 'JWP', v: xFormat.JWP },
        { field: 'JB', v: xFormat.JB }
      ]
    },
    macetDetail () {
      return [
        { field: 'Prior', v: this.nbSumm['0']['_prior'] },
        { field: 'JK', v: this.nbSumm['0']['jk'] },
        { field: 'BS', v: this.nbSumm['0']['BS'] },
        { field: 'BP', v: this.nbSumm['0']['BP'] },
        { field: 'JWP', v: this.nbSumm['0']['JWP'] },
        { field: 'JB', v: this.nbSumm['0']['JB'] },
        { field: 'Prob', v: this.nbSumm['0']['_prob'] }
      ]
    },
    lancarDetail () {
      return [
        { field: 'Prior', v: this.nbSumm['1']['_prior'] },
        { field: 'JK', v: this.nbSumm['1']['jk'] },
        { field: 'BS', v: this.nbSumm['1']['BS'] },
        { field: 'BP', v: this.nbSumm['1']['BP'] },
        { field: 'JWP', v: this.nbSumm['1']['JWP'] },
        { field: 'JB', v: this.nbSumm['1']['JB'] },
        { field: 'Prob', v: this.nbSumm['1']['_prob'] }
      ]
    }
  },
  methods: {
    async classify () {
      this.loading = true
      const x = { ...this.item }
      const nbResult = await nbAPI.nb(this.dataset, x)
      this.nbSumm = nbResult
      this.loading = false
      this.isResult = true
      console.log(nbResult)
    },
    refresh () {
      this.nbSumm = nbSummary()
      this.isResult = false
    }
  },
  mounted () {
    this.datasetOptions = settings.getOptionsDataset()
    this.dataset = settings.getActiveDataset()
  }
}
</script>

<style>

</style>
