<template>
  <v-dialog v-model="show" max-width="500">
    <v-card>
      <v-card-title>Edit Data</v-card-title>
      <v-card-text>
        <v-select :items="datasetOptions" v-model="dataset" label="Dataset" />
        <v-text-field label="Nama" v-model="item.nama"/>
        <v-radio-group label="Sex" v-model="item.jk">
          <v-radio
            label="Laki - Laki"
            :value="1"
          />
          <v-radio
            label="Perempuan"
            :value="0"
          />
        </v-radio-group>
        <v-text-field
          type="number"
          :min="325000"
          :max="20000000"
          label="Besar Simpanan"
          v-model.number="item.BS"
          prefix="Rp, "
        />
        <v-text-field type="number" :min="1000000" :max="60000000" label="Besar Pinjaman" v-model.number="item.BP" prefix="Rp, " />
        <v-radio-group label="Jenis Bunga" v-model="item.JB">
          <v-radio
            label="1%"
            :value="1"
          />
          <v-radio
            label="3%"
            :value="3"
          />
        </v-radio-group>
        <v-radio-group label="Keterangan" v-model="item.keterangan">
          <v-radio
            label="Lancar"
            :value="1"
          />
          <v-radio
            label="Macet"
            :value="0"
          />
        </v-radio-group>
        <v-text-field label="Jangka Waktu Pinjaman" type="number" v-model.number="item.JWP" :min="1" :max="64" />
      </v-card-text>
      <v-card-actions>
        <v-btn flat @click="saveData">Simpan</v-btn>
        <v-btn flat @click="show = false">Batal</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import bus from '@/event-bus'
import settings from '@/service/settings'
import permintaanAPI from '@/service/permintaanAPI'
import constants from '@/service/constants'

export default {
  name: 'EditData',
  data () {
    return {
      show: false,
      id: undefined,
      item: {
        nama: '',
        jk: 1,
        BS: 325000,
        BP: 1000000,
        JB: 1,
        JWP: 1,
        keterangan: 1
      },
      datasetOptions: constants.optionsDataset,
      dataset: constants.defaultDataset
    }
  },
  methods: {
    async saveData () {
      await permintaanAPI.update(this.id, { ...this.item })
      this.show = false
      bus.$emit('done-edit-data')
    }
  },
  mounted () {
    bus.$on('show-edit-data', async (id) => {
      let data = await permintaanAPI.findById(id)
      console.log('data =', data)
      const { _id, dataset, ...rest } = data
      this.id = _id
      this.dataset = dataset
      this.item = {...rest }
      this.show = true
    })
    this.datasetOptions = settings.getOptionsDataset()
    this.dataset = settings.getActiveDataset()
  },
  beforeDestroy () {
    bus.$off('show-edit-data')
  }
}
</script>

<style>

</style>
