<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-items>
        <v-select :items="datasetOptions" v-model="dataset"></v-select>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat @click="showAdd">Tambah</v-btn>
        <v-btn flat>Hapus</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <add-data/>
    <router-view/>
  </div>
</template>

<script>
import settings from '@/service/settings'
import bus from '@/event-bus'
import AddData from './add.vue'

export default {
  name: 'DataWrapper',
  components: { AddData },
  data () {
    return {
      datasetOptions: [],
      dataset: ''
    }
  },
  methods: {
    loadSettings () {
      this.datasetOptions = settings.getOptionsDataset()
      this.dataset = settings.getActiveDataset()
    },
    showAdd () {
      bus.$emit('show-add-data')
    }
  },
  mounted () {
    this.loadSettings()
  }
}
</script>

<style>

</style>
