<template>
  <div>
    <v-container v-if="!isSaving">
      <v-layout row fill-height justify-center>
        <v-flex md6 justify-center class="text-xs-center" style="padding-top: 80px;">
          <input type="file" ref="fileInput" v-on:change="onFileChange" style="display: none"/>
          <div class="display-2 mb-4">Pilih CSV untuk diimport</div>
        </v-flex>
      </v-layout>
      <v-layout row fill-height justify-center>
        <v-flex md4 justify-center class="text-xs-center">
          <v-select label="Pilih Dataset" class="py-4" :items="datasetOptions" v-model="dataset"/>
        </v-flex>
      </v-layout>
      <v-layout row fill-height justify-center>
        <v-flex md4 justify-center class="text-xs-center">
          <v-btn large dark color="cyan" @click="test" v-bind:disabled="dataset === ''">
            Pilih File
          </v-btn>
          <v-btn large dark color="cyan" @click="saveData" v-bind:disabled="dataset === ''">
            Simpan
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container fluid v-else>
      <v-layout justify-center align-center style="padding: 140px;">
        <v-progress-circular width="16" size="120" indeterminate/>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { exportFile } from '@/service/permintaanAPI'
import constants from '@/service/constants'

export default {
  name: 'JsonImport',
  data () {
    return {
      fileProcessed: false,
      file: undefined,
      isSaving: false,
      isError: false,
      dataset: constants.defaultDataset,
      datasetOptions: constants.optionsDataset,
    }
  },
  methods: {
    test () {
      this.$refs.fileInput.click()
    },
    async saveData () {
      let file = this.file
      if (file === undefined || file === null) {
        return 
      }

      this.error = false
      this.isSaving = true

      let formData = new FormData()
      formData.set('data', file)

      try {
        await exportFile(this.dataset, formData)
      } catch (err) {
        this.error = true
      } finally {
        this.isSaving = false
      }
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.file = files[0]
    }
  }
}
</script>

<style>

</style>
