<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>
        Data
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-select @change="loadData" :items="datasetOptions" v-model="dataset"></v-select>
        <v-btn flat @click="showAdd">Tambah</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <add-data/>
    <edit-data/>
    <loader v-if="itemsLoading" />
    <v-data-table
      v-else
      :headers="headers"
      :items="items"
    >
      <template v-slot:items="props">
        <tr>
          <td>{{ props.index + 1 }}</td>
          <td>{{ props.item.nama }}</td>
          <td>{{ props.item.jk }}</td>
          <td>{{ props.item.BS }}</td>
          <td>{{ props.item.BP }}</td>
          <td>{{ props.item.JB }}</td>
          <td>
            {{ props.item.JWP }}
            <span class="subtitle"></span>
          </td>
          <td>{{ props.item.keterangan }}</td>
          <td>
            <v-menu offset-y>
              <template v-slot:activator="{ on }">
                <v-icon v-on="on" small>more_horiz</v-icon>
              </template>
              <v-list>
                <v-list-tile @click="showEdit(props.item._id)">
                  <v-list-tile-title>Edit</v-list-tile-title>
                </v-list-tile>
                <v-list-tile @click="removeDoc(props.item._id, props.item._rev)">
                  <v-list-tile-title>Delete</v-list-tile-title>
                </v-list-tile>
              </v-list>
            </v-menu>
          </td>
        </tr>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import bus from '@/event-bus'
import AddData from './add.vue'
import EditData from './edit.vue'
import Loader from '@/components/Loader.vue'
import { format } from '@/model/drow'
import permintaanAPI from '@/service/permintaanAPI'
import constants from '@/service/constants'

export default {
  name: 'DataList',
  components: { AddData, Loader, EditData },
  data () {
    return {
      headers: [
        { text: '#', sortable: false, width: '80px' },
        { text: 'Nama', value: 'nama' },
        { text: 'JK', value: 'jk' },
        { text: 'BS', value: 'BS' },
        { text: 'BP', value: 'BP' },
        { text: 'JB', value: 'JB' },
        { text: 'JWP', value: '' },
        { text: 'Keterangan' },
        { text: '' }
      ],
      items: [],
      itemsLoading: false,
      datasetOptions: constants.optionsDataset,
      dataset: constants.defaultDataset
    }
  },
  methods: {
    async loadData () {
      this.itemsLoading = true
      try {
        const items = await permintaanAPI.find(this.dataset)
        const formatted = items.map(format)
        this.items = formatted
      } catch (err) {
        console.log(err)
      }
      this.itemsLoading = false
    },
    showAdd () {
      bus.$emit('show-add-data')
      this.loadSettings()
    },
    showEdit (id) {
      bus.$emit('show-edit-data', id)
    },
    async removeDoc (id) {
      await permintaanAPI.remove(id)
      this.loadData()
    },
    async removeDataset () {
      await permintaanAPI.removeDataset(this.dataset)
      this.loadData()
    }
  },
  mounted () {
    bus.$on('new-data', () => this.loadData())
    bus.$on('done-edit-data', () => this.loadData())
    this.loadData()
  },
  beforeDestroy () {
    bus.$off('new-data')
    bus.$off('done-edit-data')
  }
}
</script>

<style>
</style>
