<template>
  <div>
    <loader v-if="loading" />
    <div v-else>
      <v-toolbar flat>
        <v-toolbar-title>Rangkuman</v-toolbar-title>
      </v-toolbar>
      <v-container fluid grid-list-md>
        <v-layout row>
          <v-flex md6>
            <v-card>
              <v-card-title>Rangkuman Partisi</v-card-title>
              <v-card-text>
                <v-data-table :items="datasetSummary" :headers="datasetHeader" :total-items="datasetSummary.length" hide-actions>
                  <template v-slot:items="props">
                    <tr>
                      <td>{{props.item.dataset}}</td>
                      <td>{{props.item.jumlah}}</td>
                    </tr>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
        <v-divider class="my-2"/>
        <v-layout row>
          <v-flex md6>
            <v-select @change="reload" :items="datasetOptions" v-model="dataset" label="Pilih Dataset"/>
            <v-card>
              <v-card-title>Rangkuman Data dalam {{dataset}}</v-card-title>
              <v-card-text>
                <v-data-table
                  :headers="[{text: 'Keterangan'}, {text: 'Jumlah'}]"
                  :items="keteranganSummary"
                  :total-items="2" hide-actions
                >
                  <template v-slot:items="props">
                    <tr>
                      <td>{{props.item.ket}}</td>
                      <td>{{props.item.value}}</td>
                    </tr>
                  </template>
                </v-data-table>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex md12>
            <v-card>
              <v-toolbar dense flat>
                <v-toolbar-title>Jenis Kelamin</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex md6>
                  <v-data-table
                    :headers="kategoriHeaders"
                    :items="jkKeteranganFormatted"
                    hide-actions
                    :total-items="jkKeteranganFormatted.length">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{props.index + 1}}</td>
                        <td>{{ props.item.kategori }}</td>
                        <td>{{ props.item.macet }}</td>
                        <td>{{ props.item.lancar }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Macet"
                    :legend="false"
                    donut
                    :data="[['Laki - Laki', summary['jk']['0']['1']], ['Perempuan', summary['jk']['0']['0']]]"></pie-chart>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Lancar"
                    :legend="false"
                    donut
                    :data="[['Laki - Laki', summary['jk']['1']['1']], ['Perempuan', summary['jk']['1']['0']]]"></pie-chart>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row class="mt-4">
          <v-flex md12>
            <v-card>
              <v-toolbar dense flat>
                <v-toolbar-title>Besar Simpanan</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex md6>
                  <v-data-table
                    :headers="kategoriHeaders"
                    :items="BSKeteranganFormatted"
                    hide-actions
                    :total-items="BSKeteranganFormatted.length">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{props.index + 1}}</td>
                        <td>{{ props.item.low }} - {{props.item.high}}</td>
                        <td>{{ props.item.macet }}</td>
                        <td>{{ props.item.lancar }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Macet" :legend="false" :donut="true" :data="BS.macet"></pie-chart>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Lancar" :legend="false" :donut="true" :data="BS.lancar"></pie-chart>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row class="mt-4">
          <v-flex md12>
            <v-card>
              <v-toolbar dense flat>
                <v-toolbar-title>Besar Pinjaman</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex md6>
                  <v-data-table
                    :headers="kategoriHeaders"
                    :items="BPKeteranganFormatted"
                    hide-actions
                    :total-items="BPKeteranganFormatted.length">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{props.index + 1}}</td>
                        <td>{{ props.item.low }} - {{props.item.high}}</td>
                        <td>{{ props.item.macet }}</td>
                        <td>{{ props.item.lancar }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Macet" :legend="false" :donut="true" :data="BP.macet"></pie-chart>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Lancar" :legend="false" :donut="true" :data="BP.lancar"></pie-chart>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row class="mt-4">
          <v-flex md12>
            <v-card>
              <v-toolbar dense flat>
                <v-toolbar-title>Jangka Waktu Peminjaman</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex md6>
                  <v-data-table
                    :headers="kategoriHeaders"
                    :items="JWPKeteranganFormatted"
                    hide-actions
                    :total-items="JWPKeteranganFormatted.length">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{props.item.kategori}}</td>
                        <td>{{ props.item.interval }}</td>
                        <td>{{ props.item.macet }}</td>
                        <td>{{ props.item.lancar }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Macet" :legend="false" :donut="true" :data="JWP.macet"></pie-chart>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Lancar" :legend="false" :donut="true" :data="JWP.lancar"></pie-chart>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row class="mt-4">
          <v-flex md12>
            <v-card>
              <v-toolbar dense flat>
                <v-toolbar-title>Jenis Bunga</v-toolbar-title>
              </v-toolbar>
              <v-layout row>
                <v-flex md6>
                  <v-data-table
                    :headers="kategoriHeaders"
                    :items="JBKeteranganFormatted"
                    hide-actions
                    :total-items="JBKeteranganFormatted.length">
                    <template v-slot:items="props">
                      <tr>
                        <td>{{props.index + 1}}</td>
                        <td>{{ props.item.kategori }}</td>
                        <td>{{ props.item.macet }}</td>
                        <td>{{ props.item.lancar }}</td>
                      </tr>
                    </template>
                  </v-data-table>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Macet"
                    :legend="false"
                    donut
                    :data="[['1%', summary['JB']['0']['1']], ['3%', summary['JB']['0']['3']]]"></pie-chart>
                </v-flex>
                <v-flex md4 class="py-4">
                  <pie-chart title="Lancar"
                    :legend="false"
                    donut
                    :data="[['1%', summary['JB']['1']['1']], ['3%', summary['JB']['1']['3']]]"></pie-chart>
                </v-flex>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>

      </v-container>
    </div>
  </div>
</template>

<script>
import { thousand } from '@/model/drow'
import { defaultSummary } from '@/service/summary'
import Loader from '@/components/Loader.vue'
import permintaanAPI from '@/service/permintaanAPI'
import constants from '@/service/constants'

export default {
  name: 'DataSummary',
  components: { Loader },
  data () {
    return {
      datasetOptions: constants.optionsDataset,
      dataset: constants.defaultDataset,
      summary: defaultSummary(),
      itemsLoading: false,
      BSKeterangan: [
        {
          low: 325000,
          high: 4259999
        },
        {
          low: 4260000,
          high: 8194999
        },
        {
          low: 8195000,
          high: 12129999
        },
        {
          low: 12130000,
          high: 16064999
        },
        {
          low: 16065999,
          high: 19990000
        }
      ],
      BPKeterangan: [
        {
          low: 1000000,
          high: 12799999
        },
        {
          low: 12800000,
          high: 24599998
        },
        {
          low: 24599999,
          high: 36399998
        },
        {
          low: 36399999,
          high: 48199998
        },
        {
          low: 48199999,
          high: 59999998
        }
      ],
      datasetHeader: [
        {
          text: 'Dataset',
          value: 'dataset',
          sortable: false
        },
        {
          text: 'Jumlah',
          value: 'jumlah',
          sortable: false
        }
      ],
      datasetSummary: [],
      kategoriHeaders: [
        {
          text: '#',
          sortable: false,
          length: '5'
        },
        {
          text: 'Interval',
          sortable: false
        },
        {
          text: 'M',
          sortable: false,
          length: '5'
        },
        {
          text: 'L',
          sortable: false,
          length: '5'
        }
      ],
      loading: false
    }
  },
  computed: {
    BS () {
      const lancarData = this.summary.BS['1']
      const macetData = this.summary.BS['0']
      // console.log('lancarData=', lancarData)
      // console.log('macetData=', macetData)
      const lancar = [
        ['Kategori 1', lancarData['1']],
        ['Kategori 2', lancarData['2']],
        ['Kategori 3', lancarData['3']],
        ['Kategori 4', lancarData['4']],
        ['Kategori 5', lancarData['5']]
      ]
      const macet = [
        ['Kategori 1', macetData['1']],
        ['Kategori 2', macetData['2']],
        ['Kategori 3', macetData['3']],
        ['Kategori 4', macetData['4']],
        ['Kategori 5', macetData['5']]
      ]
      return {
        lancar,
        macet
      }
    },
    BSKeteranganFormatted () {
      return this.BSKeterangan.map((item, idx) => {
        return {
          low: 'Rp, ' + thousand(item.low),
          high: 'Rp, ' + thousand(item.high),
          lancar: this.summary.BS['1'][`${idx + 1}`],
          macet: this.summary.BS['0'][`${idx + 1}`]
        }
      })
    },
    BP () {
      const lancarData = this.summary.BP['1']
      const macetData = this.summary.BP['0']
      // console.log('lancarData=', lancarData)
      // console.log('macetData=', macetData)
      const lancar = [
        ['Kategori 1', lancarData['1']],
        ['Kategori 2', lancarData['2']],
        ['Kategori 3', lancarData['3']],
        ['Kategori 4', lancarData['4']],
        ['Kategori 5', lancarData['5']]
      ]
      const macet = [
        ['Kategori 1', macetData['1']],
        ['Kategori 2', macetData['2']],
        ['Kategori 3', macetData['3']],
        ['Kategori 4', macetData['4']],
        ['Kategori 5', macetData['5']]
      ]
      return {
        lancar,
        macet
      }
    },
    BPKeteranganFormatted () {
      return this.BPKeterangan.map((item, idx) => {
        return {
          low: 'Rp, ' + thousand(item.low),
          high: 'Rp, ' + thousand(item.high),
          lancar: this.summary.BP['1'][`${idx + 1}`],
          macet: this.summary.BP['0'][`${idx + 1}`]
        }
      })
    },
    jkKeteranganFormatted () {
      return [
        {
          kategori: 'Laki - Laki',
          lancar: this.summary.jk['1']['1'],
          macet: this.summary.jk['0']['1']
        },
        {
          kategori: 'Perempuan',
          lancar: this.summary.jk['1']['0'],
          macet: this.summary.jk['0']['0']
        }
      ]
    },
    JBKeteranganFormatted () {
      return [
        {
          kategori: '1%',
          lancar: this.summary.JB['1']['1'],
          macet: this.summary.JB['0']['3']
        },
        {
          kategori: '3%',
          lancar: this.summary.JB['1']['3'],
          macet: this.summary.JB['0']['3']
        }
      ]
    },
    JWP () {
      const lancarData = this.summary.JWP['1']
      const macetData = this.summary.JWP['0']
      // console.log('lancarData=', lancarData)
      // console.log('macetData=', macetData)
      const lancar = [
        ['Pendek', lancarData['1']],
        ['Menengah', lancarData['2']],
        ['Panjang', lancarData['3']]
      ]
      const macet = [
        ['Pendek', macetData['1']],
        ['Menengah', macetData['2']],
        ['Panjang', macetData['3']]
      ]
      return {
        lancar,
        macet
      }
    },
    JWPKeteranganFormatted () {
      return [
        {
          kategori: 'Pendek',
          interval: '1 - 12 bulan',
          macet: this.summary.JWP['0']['1'],
          lancar: this.summary.JWP['1']['1']
        },
        {
          kategori: 'Menengah',
          interval: '13 - 24 bulan',
          macet: this.summary.JWP['0']['2'],
          lancar: this.summary.JWP['1']['2']
        },
        {
          kategori: 'Panjang',
          interval: '25 >',
          macet: this.summary.JWP['0']['3'],
          lancar: this.summary.JWP['1']['3']
        }
      ]
    },
    keteranganSummary () {
      return [
        {
          ket: 'Macet',
          value: this.summary['0']
        },
        {
          ket: 'Lancar',
          value: this.summary['1']
        }
      ]
    }
  },
  methods: {
    async loadSummary (dataset) {
      if (!dataset) {
        return
      }
      this.itemsLoading = true
      try {
        const result = await permintaanAPI.summary(dataset)
        this.summary = result
      } catch (err) {
        console.log(err)
      }
      this.itemsLoading = false
    },
    loadSummaryInDataset () {
      this.loadSummary(this.dataset)
    },
    async loadDatasetSummary () {
      const dsetOptions = constants.optionsDataset
      let datasetSummary = {}

      const summarizeDset = async (dset) => {
        try {
          datasetSummary[dset] = await permintaanAPI.count(dset)
        } catch (err) {
          console.log(`Fail to count dataset = ${dset}`)
          console.log(err)
        }
      }

      for (let i = 0; i < dsetOptions.length; i++) {
        datasetSummary[dsetOptions[i]] = 0
      }

      try {
        await Promise.all(dsetOptions.map(summarizeDset))
        this.datasetSummary = dsetOptions.map(v => {
          return {
            dataset: v,
            jumlah: datasetSummary[v]
          }
        })
      } catch (err) {
        console.log(err)
      }
    },
    async reload () {
      this.loading = true
      await this.loadSummary(this.dataset)
      await this.loadDatasetSummary()
      this.loading = false
    }
  },
  mounted () {
    this.reload()
  }
}
</script>

<style>

</style>
